#primary {
  justify-content: space-between;
  padding-block: 20px;

  & div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & div > strong {
    display: none;

    @media (width >= 50em) {
      display: inline;
    }
  }
}

#secondary {
  padding-block: 14px;
  border-block: solid 1px var(--stroke-color);
  justify-content: space-between;

  overflow: auto;
  gap: 1rem;
  white-space: nowrap;
}
